@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npmLogo {
  height: 1.5rem;
}

.magnifyingGlass {
  height: 1.5rem;
}

input[type="text"],
select {
  width: 90%;
  padding: 12px 0 12px 40px;
  margin: 8px 0;
  border: 0;
  background-color: rgb(244, 244, 244);
  border-radius: 4px;
  font-size: 1rem;
}

button {
  color: white;
  background-color: #fb3e44;
}

.form {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  padding: 0 20px 0 20px;
}

.headerLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.joinLink {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  color: black;
  width: 80px;
  text-align: center;
}

.loginLink {
  text-decoration: none;
  color: black;
  width: 80px;
  text-align: center;
}

#firstSection {
  height: 500px;
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#firstSection > h1 {
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#firstSection > article {
  width: 400px;
  text-align: center;
}

#firstSection > div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.joinFreeLink {
  text-decoration: none;
  color: black;
  font-weight: 1200;
  font-size: larger;
}

.seePlansLink {
  text-decoration: none;
  color: white;
  font-weight: 1200;
  font-size: larger;
  background-color: #fb3b49;
  padding: 10px 40px 10px 40px;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}

#secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#secondSection > img {
  width: 200px;
  padding: 50px 0 20px 0;
}

#secondSection > h1 {
  background-color: rgba(255, 204, 53, 0.4);
  padding: 0 20px 0 20px;
  font-size: 2rem;
  transform: skew(9deg, 0deg);
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#secondSection > article {
  max-width: 600px;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 50px;
}

#thirdSection {
  display: flex;
  flex-direction: column;
}

#thirdSection img {
  height: 20px;
}

#thirdSection p {
  width: 200px;
}

#thirdSection h3 {
  color: #fb3b49;
}

.thirdSectionContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 55%;
  margin: 0 auto;
  padding-top: 50px;
}

.orgButton {
  color: white;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 250px;
  margin: 0 auto;
  padding: 10px 50px;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
}

input[type="text"] {
  background-image: url(images/magnifying-glass.png);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.5rem;
  height: fit-content;
}

input[type="button"] {
  background-color: #fb3e44;
  color: white;
  height: 42px;
  width: 100px;
  border: 0;
}
